@mixin darkMode {
    .light {
        display: none;
    }
    .dark {
        display: block;
    }
    main {
        background-color: rgba(23, 24, 35, 1) !important;
    }

    .tasks {
        background-color: rgba(37, 39, 61, 1);
        box-shadow: none;
        color: rgba(200, 203, 231, 1);
        .test {
            .btn-clear:hover {
                color: rgba(227, 228, 241, 1);
            }
        }
    }

    .item {
        border-bottom: 1px solid rgba(57, 58, 75, 1);
        input[type="checkbox"] {
            background-color: rgba(57, 58, 75, 1);
            border: .15rem solid rgba(73, 76, 107, 1);
        }
    }

    .filter {
        background-color: rgba(37, 39, 61, 1);
        color: rgba(91, 94, 126, 1);
    }

    .filter2 {
        *:hover {
            color: rgba(227, 228, 241, 1) !important;
        }
    }

    .input {
        input {
            background-color: rgba(37, 39, 61, 1);
        }
    }

    .circle {
        border: .15rem solid rgba(57, 58, 75, 1);
    }
    p {
        color: rgba(91, 94, 126, 1)
    }

    .typing {
        color: rgba(200, 203, 231, 1) !important;
    }

    body {
        transition: background-color 1s ease-in, color 1s ease-in;
    }
    
    .item, .form-control, .delete-btn {
        transition: background-color 1s ease-in, color 1s ease-in;
    }
    
    button, input {
        transition: background-color 1s ease-in, color 1s ease-in, border-color 1s ease-in;
    }
    
    .toggle {
        transition: opacity 1s ease-in;
    }
}
